<header>
  <div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" >Home</span>
                      </a>
                  </li>
                  <li>
                    <button data-bs-toggle="collapse" class="nav-link px-0 align-middle" routerLink="/flights">
                        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline" >Flights</span> </button>

                </li>

                  <li>
                    <button class="nav-link px-0 align-middle " routerLink="/users">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </button>
                </li>

                <li>
                  <button class="nav-link px-0 align-middle "  routerLink="/bookingList">
                      <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Bookings</span> </button>
              </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">Me</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col py-3">
        <div class="container my-5">
          <div >
          <h1 class="mb-3">Add New Flight</h1>

          <form #form="ngForm" (ngSubmit)="addFlight()">
            <div class="mb-3">
              <label for="name" class="form-label">Flight Name</label>
              <input type="text" class="form-control" id="name" name="flightName" [(ngModel)]="addFlightRequest.flightName">
            </div>
            <div class="mb-3">
              <label for="number" class="form-label">Flight Number</label>
              <input type="text" class="form-control" id="number" name="flightNumber" [(ngModel)]="addFlightRequest.flightNumber">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">Departure City</label>
              <input type="text" class="form-control" id="city" name="departureCity" [(ngModel)]="addFlightRequest.departureCity">
            </div>
            <div class="mb-3">
              <label for="arr_city" class="form-label">Arrival City</label>
              <input type="text" class="form-control" id="arr_city" name="arrivalCity" [(ngModel)]="addFlightRequest.arrivalCity" >
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">Departure Time</label>
              <input type="datetime-local" class="form-control" id="time" name="departureDateTime" [(ngModel)]="addFlightRequest.departureDateTime">
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">Arrival Time</label>
              <input type="datetime-local" class="form-control" id="time" name="arrivalDateTime" [(ngModel)]="addFlightRequest.arrivalDateTime">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="text" class="form-control" id="price" name="basePrice" [(ngModel)]="addFlightRequest.basePrice" >
            </div>

            <button type="submit" class="btn btn-primary" >Submit</button>
          </form>
        </div>
        </div>
      </div>
  </div>
</div>
</header>


