<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <div id="logo">
      <a href="index.html"><img src="../../assets/jetsetgo.png" /></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>

<img class="wave" src="../../assets/wave.png">
<div class="container">
  <div class="img">
    <img src="../../assets/bg.png">
  </div>

  <div class="login-content">
    <form [formGroup]="signUpform">
      <img src="../../assets/avatar.png">
      <h2 class="title">Register</h2>

      <div class="input-div one">
        <div class="i">
          <i class="fa fa-user"></i>
        </div>
        <div class="div">
          <h5>UserName</h5>
          <input formControlName="userName" type="text" class="input" >
        </div>
      </div>
      <small *ngIf="signUpform.controls['userName'].dirty && signUpform.hasError('required','userName')" class="text-danger">*name is required</small>
      <small *ngIf="signUpform.get('userName')?.dirty && signUpform.get('userName')?.hasError('minlength')" class="text-danger">*Username must be at least 4 characters long</small>
      <div class="input-div one">
        <div class="i">
          <i class="fa fa-solid fa-envelope"></i>
        </div>
        <div class="div">
          <h5>Email</h5>
          <input formControlName="emailAddress" type="email" class="input" >
        </div>
      </div>
      <small *ngIf="signUpform.controls['emailAddress'].dirty && signUpform.hasError('required','emailAddress')" class="text-danger">*email is required</small>
      <small *ngIf="signUpform.get('emailAddress')?.dirty && signUpform.hasError('invalidEmail', 'emailAddress')" class="text-danger">Email should end with @gmail.com</small>

      <div class="input-div pass">
        <div class="i">
          <i class="fa fa-lock"></i>
        </div>
        <div class="div">
          <h5>Password</h5>
          <input formControlName="password" type="password" class="input" >
        </div>
      </div>
      <small *ngIf="signUpform.controls['password'].dirty && signUpform.hasError('required','password')" class="text-danger">*password is required</small>
      <small *ngIf="signUpform.get('password')?.dirty && signUpform.get('password')?.hasError('minlength')" class="text-danger">*Password must be at least 8 characters long</small>

      <div class="input-div pass">
        <div class="i">
          <i class="fa fa-solid fa-phone"></i>
        </div>
        <div class="div">
          <h5>MobileNo.</h5>
          <input formControlName="phoneNo" type="text" class="input" >
        </div>
      </div>

      <small *ngIf="signUpform.controls['phoneNo'].dirty && signUpform.hasError('required','phoneNo')" class="text-danger">*phoneno is required</small>
      <small *ngIf="signUpform.get('phoneNo')?.dirty && signUpform.hasError('invalidPhoneNo', 'phoneNo')" class="text-danger">Invalid Phone number</small>



      <button (click)="onSignUp()" type="submit" class="btn" value="signUp" >SignUp</button>

    </form>
  </div>
</div>
