.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.seatscontainer {
  width: 600px;
  margin-bottom: 20px;
}

.seats {
  border: 1px solid #ccc;
  background-color: #f2f2f2;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxlabel {
  font-size: 12px;
  margin-top: 5px;
}

.selected-seats {
  width: 600px;
  background-color: #f2f2f2;
  padding: 10px;
}

.selected-seats h2 {
  margin: 0;
  padding-bottom: 10px;
}

.seatitem {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.seatname {
  flex-grow: 1;
}

.seatbutton {
  margin-left: 10px;
}

.passenger-form {
  width: 600px;
  background-color: #f2f2f2;
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title h1 {
  margin: 0;
}

.close-icon {
  cursor: pointer;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-field {
  flex-grow: 1;
  margin-right: 10px;
}

.submit-container {
  display: flex;
  justify-content: flex-end;
}

.passenger-submit {
  display: flex;
  align-items: center;
}

.passenger-submit mat-icon {
  margin-right: 5px;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.passenger-details {
  width: 600px;
}

mat-card {
  padding: 20px;
  background-color: #f2f2f2;
}

h2 {
  margin: 0 0 20px;
}

.passenger-item {
  margin-bottom: 20px;
}

.passenger-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.passenger-info {
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  width: 50%;
  margin-bottom: 5px;
}
