<app-navbar></app-navbar>
<mat-card class="booking-card">
  <div class="bookinglist" *ngFor="let booking of bookings let i = index">
    <table>
      <!-- <tr>
        <td>User Id:</td>
        <td>{{booking.userId}}</td>
      </tr>-->
      <tr>
        <td><h3><strong>Booking {{i+1}}:</strong></h3></td>
      </tr>
      <tr>

        <td>Departure City:</td>
        <td>{{booking.departureCity}}</td>
      </tr>
      <tr>
        <td>Departure date:</td>
        <td>{{booking.departureDateTime | date:'yyyy-MM-dd'}}</td>
      </tr>
      <tr>
        <td>Arrival City:</td>
        <td>{{booking.arrivalCity }}</td>
      </tr>
      <tr>
        <td>Departure Time</td>
        <td>{{booking.departureDateTime |  date:'HH:mm'}}</td>
      </tr>
    </table>
<!--
    <button mat-raised-button class="remove-button">
      Remove
      <mat-icon>close</mat-icon>
    </button>

    <button mat-raised-button class="passengers-button">
      See Passengers
      <mat-icon>person</mat-icon>
    </button> -->
  </div>
</mat-card>
