#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('/assets/background.jpg');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}
.table-smaller {
  font-size: 12px;
}

.table-smaller th,
.table-smaller td {
  padding: 4px 8px;
}
