<header>
  <div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
              <a routerLink="/dashboard" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <span class="fs-5 d-none d-sm-inline">Menu</span>
              </a>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  <li class="nav-item">
                      <a routerLink="/Admin" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline" >Home</span>
                      </a>
                  </li>

                  <li>
                    <button data-bs-toggle="collapse" class="nav-link px-0 align-middle" routerLink="/flights">
                        <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline" >Flights</span> </button>

                </li>

                  <li>
                    <button class="nav-link px-0 align-middle " (click)="getUser()">
                        <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Users</span> </button>
                </li>


                <li>
                  <button class="nav-link px-0 align-middle "  routerLink="/bookingList">
                      <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Bookings</span> </button>
              </li>
              </ul>
              <hr>
              <div class="dropdown pb-4">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                      <span class="d-none d-sm-inline mx-1">Me</span>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li class="nav-item">
                        <button (click)="logout()" class="dropdown-item btn btn-danger" >LogOut</button>
                      </li></ul>
              </div>
          </div>
      </div>
      <div id="booking" class="col py-3">
        <div class="container my-5">
          <h1>Manage Your Flights Here</h1>
          <table class="table table-striped " *ngIf="flights">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Number</th>
                <th scope="col">Departure City</th>
                <th scope="col">Destination</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Departure Time</th>
                <th scope="col">Total Seats</th>
                <th scope="col">Price</th>
                <th> </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let flight of flights">
                <th scope="row">{{flight.flightId}}</th>
                <td>{{flight.flightName}}</td>
                <td>{{flight.flightNumber}}</td>
                <td>{{flight.departureCity}}</td>
                <td>{{flight.arrivalCity}}</td>
                <td>{{flight.departureDateTime | date:'dd-MM-yyyy' }}</td>
                <td>{{flight.departureDateTime | date:'HH:mm' }}</td>
                <td>{{flight.totalSeats}}</td>
                <td>{{flight.basePrice}}</td>
                <td><button class="btn btn-primary" type = "submit" (click)="editFlight(flight.flightId)">View</button>
                    </td>

                 </tr>


            </tbody>
          </table>
          <button class="btn btn-primary" type = "submit" (click)="AddFlight()">Add Flight</button>

            <p *ngIf="!flights">No Flights Found</p>
          </div>
      </div>
  </div>
</div>
</header>


