.table-responsive {
  overflow-x: auto;
}

.table {
  font-size: 14px;
}



th, td {
  vertical-align: middle;
}

.link-text {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.selected-flight-details {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.selected-flight-card {
  width: 400px;
  margin-top: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selected-flight-card mat-card-header {
  background-color: #007bff;
  color: #ffffff;
}
.container {
  display: flex;
}

.flight-details {
  flex: 1;
  margin-right: 20px;
}

.user-details {
  flex: 1;
}

.selected-flight-card mat-card-content {
  padding: 16px;
}

.no-flights-msg {
  margin-top: 20px;
  font-style: italic;
  text-align: center;
}

.table-hover tbody tr:hover {
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
}


.fixed-me-dropdown {
  position: sticky;
  top: 0;
  z-index: 1;
}

#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('/assets/background.jpg');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


@media screen and (max-width: 768px) {
  .details-container {
    flex-direction: column;
  }

  .flight-details,
  .user-details {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
