<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <div id="logo">
      <a href="index.html"><img src="../../assets/jetsetgo.png" /></a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" >Bookings</a>
          </li>
          <li class="nav-item">
            <button (click)="logout()" class="nav-link active btn btn-danger" >LogOut</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="booking">
<mat-card class="payment-card">
  <mat-card-header>
    <mat-card-title>Payment</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <!-- Payment details form fields -->
      <mat-form-field>
        <mat-label>
          <mat-icon class="icon">credit_card</mat-icon>
          Card Number
        </mat-label>
        <input matInput   name="cardNumber" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          <mat-icon class="icon">event</mat-icon>
          Expiration Date
        </mat-label>
        <input matInput   name="expirationDate" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          <mat-icon class="icon">lock</mat-icon>
          CVV
        </mat-label>
        <input matInput  name="cvv" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          <mat-icon class="icon">person</mat-icon>
          Name on Card
        </mat-label>
        <input matInput   name="cardName" required>
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          <mat-icon class="icon">attach_money</mat-icon>
          Amount
        </mat-label>
        <input matInput  name="amount" required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" >Make Payment</button>
    <button mat-button color="warn" >Cancel</button>
  </mat-card-actions>
</mat-card>

</div>
